:root{
	--text-shadow: #333;
	--cyber-green: rgb(12, 238, 4)
}

body{
	margin: 0;
	padding:0;
	background-color: #6c757d;
}
h1{
	color:white;
	font-size: 28px;
	margin: 8px 0 14px;
	font-weight: unset;
	text-shadow:	2px 2px var(--text-shadow), -2px 2px var(--text-shadow),
					2px -2px var(--text-shadow), -2px -2px var(--text-shadow);
}
h1 img{
	position: relative;
	top: 8px;
}
h2{
	text-align: center;
	font-weight: unset;
	margin: 10px 0 2px;
}
#fuwaPop{
	text-align: center;
	min-height: 6em;
	font-size: 14pt;
	background-color: black;
	background-image: url(../_topImg/cyberBack.png);
	background-position-y: -10px;
	color:var(--cyber-green);
	border: var(--cyber-green) 3px solid;
	border-left: none;
	border-right: none;
	padding: 20px 0 10px;
	margin: 0 0 10px;
	animation: popLoop 5s infinite linear;
	text-shadow: 
	1px 1px black, -1px -1px black, 
	-1px 1px black, 1px -1px black;
}

@keyframes popLoop{
	0%{ background-position-x: 96px }
	100%{ background-position-x: 0}
}

header{
	width:100%;
	overflow-y: hidden;
}
main{
	background-color: white;
	padding: 20px 0 60px
}
footer{
	text-align: center;
	padding: 20px 0 40px
}
footer a{
	display: inline-block;
	margin: 0 auto;
	color: white !important;
	padding: 0 10px
}
#topImage{
	width:100%;
	height: 50vh;
	object-fit: cover;
	margin-top: -20px;
	display: block;
	background-color: black;
}
.practiceWorks{
	margin:0 20px;
	padding:0;
}